<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Book</title>
</head>
<body>
    <h1><u>Add a new Book and Review</u></h1>
    <form action='home/add_book/create' method='POST'>
        {% csrf_token %}
        <label>Title:</label>
        <input type='text' name='title'>
        <label>Author:</label>
        <input type='text' name='author'>
        <select class='select'>
                <option>none</option>
            {% for book in books %}
                <opiton>{{ book.title }}</opiton>
            {% endfor %}
        </select>
        <label>Review:</label>
        <textarea rows="5" cols="50" name='review'></textarea>
        <label>Rating:</label>
        <select name='rating'>
            <option value='0'>0</option>
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value='4'>4</option>
            <option value='5'>5</option>
        </select>
        <input type='submit' value='Create'>
    </form>
</body>
</html>